.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100vw;
    grid-auto-rows: minmax(100px, auto);
    grid-gap:1em;
    justify-items: stretch;
    align-items: stretch;
}


header {
    grid-column: 1/9;
    grid-row: 1/2;
    background-color: grey;
}

header h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 40%;
}

header ul {
    grid-column: 4/9;
    grid-row: 1/2;
    display: inline-block;
    text-decoration: none;
    justify-self: center;
    max-width: 40%;
}

header ul li {
    display: inline-block;

}

aside {
    grid-column: 1/5;
}